<main>
  <p id=notice><%= notice %></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
        <h2>Sign up</h2>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <div id="error_explanation">
            <% if @user.errors.any? %>
              <h2>
              <%= @user.errors.count %>errors prohibited this user from being saved:
                <% @user.errors.full_messages.each do |message| %>
              </h2>
                <ul><%= message %></ul>
              <% end %>
            <% end %>
          </div>
          <div class="field">
            <label for="user_name">Name</label>
            <br>
            <%= f.text_field :name, autofocus: true, class: "name" %>
          </div>
          <div class="field">
            <label for="user_email">Email</label>
            <br>
            <%= f.text_field :email, autofocus: true, class: "email" %>
          </div>
          <div class="field">
            <label for="user_password">Password</label>
            <br>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "password" %>
          </div>
          <div class="field">
            <label for="user_password_confirmation">Password Confimation</label>
            <br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-confirm" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-sm btn-success" %>
          </div>
        <% end %>
        <%= link_to "Log in", new_user_session_path %>
        <br>
      </div>
    </div>
  </div>
</main>
